{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <script src='{% static "network/network.js" %}'></script>

    <h3><strong>{{ user }}</strong></h3>

    {% if user.is_authenticated %}
      <hr/>

      <div id="editPosts">
        <form id="formEdit">
          {% csrf_token %}
          {{ formularioEdit }}
          <input id="editingSubmit" type="submit" value="Save" />
        </form>
      </div>

      <div id="userPost">
        {% for item in dataUser %}
          {% if item.user|stringformat:"s" == user|stringformat:"s" %}
            <div class="divPost">

              <div>
                <label id="idpost" hidden>{{ item.id }}</label>
              </div>

              <div class="user">
                <a href="{% url 'posts' %}"><label id="user">{{ item.user }}</label></a>
              </div>

              <div class="content">
                <div class="text">
                  <label>{{ item.text }}</label>
                </div>
                <div class="boxedit">
                  <button id="edit" value="{{ item.id }}">Edit</button>
                  {% if item.edited|stringformat:"s" == "yes" %}
                  <div class="edited">
                    <label>edited</label>
                  </div>
                  {% endif%}
                </div>
              </div>

              <div class="infoContent">
                <div class="likes">
                  <div>
                    {% if item.iamLiked|stringformat:"s" == "yes" %}
                    <img id="heart" value="yes" src="/static/network/red-heart.svg" width="20" height="20" />
                    {% else %}
                    <img id="heart" value="no" src="/static/network/black-heart.svg" width="20" height="20" />
                    {% endif %}
                    <label>Likes: {{ item.likes }}</label>
                  </div>
                </div>
                <div class="timestamp">
                  <label>{{ item.timestamp }}</label>
                </div>
              </div>
            </div>

          {% endif %}
        {% endfor %}

        <div class="pagination">
          <span class="step-links">
            {% if dataUser.has_previous %}
              <a href="posts?page=1">&laquo; first</a>
              <a href="posts?page={{ dataUser.obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
              Page {{ dataUser.number }} of {{ dataUser.paginator.num_pages }}
            </span>

            {% if dataUser.has_next %}
              <a href="posts?page={{ dataUser.next_page_number }}">next</a>
              <a href="posts?page={{ dataUser.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>

    {% else %}
      <hr/>
      <div>

        TODO
      </div>


    {% endif %}

{% endblock %}
